:root .color-theme {
	--bg-color: #222;
	--btn-color: #ddd;
	--text-color: #444;
}
body {
	background-color: var(--bg-color);
}
.btn-wrapper {
	height: 60vh;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}
.btn {
	border: 3px dotted red;
	border-radius: 20px;
	min-width: 120px;
	padding: 7px;
	color: var(--text-color);
	font-size: 25px;
	background-color: var(--btn-color);
	cursor: pointer;
	margin: 5px 10px;
}
.btn:active,
.btn:focus {
	outline: none;
}
.btn-theme {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
